{% extends 'main/base.html' %}

{% block content %}
    {% for object in object_list %}
        <div class="col-md-3 mb-3" style="height: 150px; width: 250px;">
            <div class="card mb-3 box-shadow" style="height: 100%;">
                <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;">
                    <p class="card-text">{{ object.product_name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'main:info' object.id %}">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
