{% extends 'main/base.html' %}
{% load tags %}
{% block content %}
    <div class="col-4">
        <div class="card-body d-flex flex-column mb-3">
            <img src="{% media_path product.image %}" alt="" width="auto" height="300"/>
        </div>
    </div>
    <div class="col-md-8 mb-3">
        <div class="d-flex flex-column align-items-center">
            <ul>
                <h4>{{ product.product_name }}</h4>
                <p>Цена: {{ product.unit_price }} руб.</p>
                <p>Описание: {{ product.description }}</p>
            </ul>
            <div class="d-flex justify-content-between">
                <a class="btn btn-outline-warning" href="{% url 'main:edit_product' object.pk %}">Редактировать</a>
                <a href="{% url 'main:delete_product' object.pk %}" class="btn btn-outline-danger">Удалить</a>
                <a href="{% url 'main:index' %}" class="btn btn-outline-primary">Вернуться</a>
            </div>
        </div>
    </div>
{% endblock %}